body {
    margin: 0;
    min-height: 100vh;
    position: relative;
}
* {
    color: white;
}
p,
h1 {
    margin: 0;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}
.navbar ul li {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 1rem;
}
.body-overlay {
    background: url(./nature.jpg);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
h1.page-title {
    margin-top: 1rem;
    text-shadow: 1px 1px 10px black;
}

.window {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
}
.strips {
    background: repeating-linear-gradient(
        45deg,
        transparent -70px,
        transparent 0px,
        rgba(255, 255, 255, 0.05) 5px,
        rgba(255, 255, 255, 0.1) 117px
    );
}
.window-header {
    padding: 0.6rem;
}
.window-header p {
    color: black;
    text-shadow: 0 0 10px white;
}

.window-body-wrapper {
    padding: 0 0.5rem 0.5rem 0.5rem;
}
.window-body {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.window-header .buttons {
    display: flex;
    position: absolute;
    top: 0;
    right: 10px;
}

.window-header .buttons .button {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.window-header .buttons .button:hover {
    background: linear-gradient(
        rgba(255, 255, 255, 0.6) 6px,
        rgba(0, 0, 0, 0.3) 15px,
        rgba(255, 255, 255, 0.6) 27px
    );
}

.window-header .buttons .button.close {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-bottom-right-radius: 5px;
}
.window-header .buttons .button.close:hover {
    background: linear-gradient(
        rgba(255, 255, 255, 0.6) 6px,
        rgba(255, 0, 0, 0.7) 15px,
        rgba(255, 255, 255, 0.6) 27px
    );
}
.window-header .buttons .button.minimize {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    border-bottom-left-radius: 5px;
}
.window-header .buttons .button.maximize {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
